FLIGHT_SERVICE_URL=YOUR_FLIGHT_SERVICE_URL # like http://localhost:4001
SECRET_KEY=your_personal_key   # for jwt
INTERNAL_FLIGHT_SERVICE_TOKEN=GENERATE_JWT_TOKEN_FROM_AUTH_SERVICE #to make a call to protected route from this service

# Server Configuration this for local
PORT=4002
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_db_password    # if not set null
DB_DATABASE=Flights
DB_DIALECT=mysql
